.InternList
    width: 75%
    margin: 150px auto
    padding: 40px 80px 80px
    background-color: #F7F7F7
    border: 1px solid rgb(53, 53, 53)
    &_title
        margin: 0 0 40px 0
        font-weight: 500
        font-size: 40px
        color: #222222
        text-align: left
    &_ul
        display: flex
        flex-direction: column
        align-items: center
        background-color: #EDEDED
        margin: 0
        padding: 0
        &-li
            width: 100%
            height: 60px
            display: flex
            flex-direction: row
            justify-content: space-between
            background-color: #EDEDED
            align-items: center
            transition: 0.5s all
            &:nth-child(even)
                background-color: #F2F2F2
            &:hover
                border: 1px solid black
            &--name
                margin: 0
                padding: 0 0 0 20px
                font-weight: 400
                font-size: 18px
                color: #222222
            &--button
                background-color: unset
                border: none
                font-weight: bold
                font-size: 16px
                color: #222222
                padding: 0 20px 0 0
                &_img
                    height: 15px

@media (min-width: 1025px) and (max-width: 1200px)
    .InternList
        width: 90%
        padding: 30px 30px 30px

@media (min-width: 769px) and (max-width: 1024px)
    .InternList
        width: 90%
        padding: 15px 25px 25px
        &_title
            font-size: 35px
        &_ul
            &-li
                &--name
                    font-size: 17px
                &--button
                    font-size: 17px
                    &_img
                        height: 14px

@media (min-width: 481px) and (max-width: 768px)
    .InternList
        width: 85%
        padding: 15px 25px 25px
        &_title
            font-size: 30px
        &_ul
            &-li
                height: 55px
                &--name
                    padding: 0 0 0 15px
                    font-size: 15px
                &--button
                    font-size: 15px
                    padding: 0 15px 0 0
                    &_img
                        height: 12px

@media (min-width: 320px) and (max-width: 480px)
    .InternList
        width: 80%
        padding: 10px 20px 20px
        &_title
            font-size: 25px
        &_ul
            &-li
                height: 50px
                &--name
                    padding: 0 0 0 10px
                    font-size: 13px
                &--button
                    font-size: 13px
                    padding: 0 20px 0 0
                    &_img
                        height: 11px
